body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    max-width: 100%; 
    gap: 10px;
    padding: 5px;
}

.image-item {
    width: 250px; 
    height: 250px;
    overflow: hidden; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.image-item img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: cover; 
}
